@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
  background: #fff;
}

svg {
  display: block;
  @include position(absolute, 50% x x 50%);
  @include transform(scale(1.3));
  margin-top: -81px;
  margin-left: -81.5px;
}
