<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

    <link rel="stylesheet" href='./index.css'>


    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">

    <title>Pomodoro Clock</title>
  </head>
  <body>
    <script src='./display.js'> </script>
    <div id="root"></div>
    <svg height="163" viewBox="0 0 162 163" width="162" xmlns="http://www.w3.org/2000/svg">
      <g fill="none" id="numbers" stroke="#4285F4" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
        <path d="M81.5986 147.9943c36.4492 0 65.997-29.548 65.997-65.9972 0-36.449-29.5478-66.0027-65.997-66.0027-36.4493 0-65.9972 29.5536-65.9972 66.0028 0 36.4494 29.548 65.9973 65.9972 65.9973z" id="zero">/</path>
      </g>
    </svg>

  </body>
</html>
