@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body  {
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.eh {
    width: 250px;
    height: 250px;
    -webkit-clip-path: ellipse(50% 49% at 50% 50%);
    clip-path: ellipse(50% 49% at 50% 50%);
    background-color: #e74c3c;
    position: absolute;
    left: 75px;
    top: 50px;
    overflow: hidden;
}

#top-left {
-webkit-clip-path: inset(5% 20% 15% 10% round 0% 50% 0% 50%);
clip-path: inset(5% 20% 15% 10% round 0% 50% 0% 50%);    width: 100px;
    height: 100px;
    background: green;
    position: relative;
    left: 190px;
    bottom: -100px;
    z-index:2;
}
