.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.tomato {
  /* -webkit-clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
  clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%); */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.border-style-thin {
  background-color: #639;
}

.border-style-thin:after {
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
}
.stuff {
  width:800px; margin:0 auto;
}
