body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-content {
  width:600px;
  margin-top: 100px;
  padding: 40px;
}
@media (max-width: 650px) {
  .app-content{
    margin: 20px 20px 0;
    width: auto;
  }
}
